
#img_1{
    width: 600px;
    height: 270px;
    margin: 10px;
}

.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 0px, 0px, 10px, 0px;
    margin-inline-start: 0px;
    margin-bottom: 0px;
}

.texto {
    text-justify: distribute-all-lines;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}

.texto_l {
    float: left;
    padding-right: 0%;
    margin-right: 60px
    
}

.texto_p {
    float: right;
    padding-left: 49%;
    margin: 0%
}

#rodape ul {
    float: left;
    padding:0px;
    margin:0px;
    background-color:rgb(255, 0, 0);
    list-style:none;
}

#rodape ul li { 
    padding: 2px 10px;
    display: inline-block;
    background: color #ffd903;
    color: rgb(145, 255, 0);
    text-decoration: none;
    border-bottom:3px solid rgb(255, 0, 179);
}

.conteudo{
    display: flex;
    justify-content: space-around;
}

body{
    background-image: url("img/meme-de-fundo");
}