

#div_img{
    width:400px;
    right: 400px;
    border: 0px; 
    margin: 0px;
    padding: 0px;
}

.img_capa{
    width:400px;
    right: 400px;
    border: 0px; 
    margin: 0px;
    padding: 0px;
}
.texto_l {
    float: left;
    padding-right: 0%;
    margin-right: 60px
    
}
.texto_p {
    float: right;
    padding-left: 49%;
    margin: 0%
}


#rodape ul {
    float: left;
    padding:0px;
    margin:0px;
    background-color:rgb(255, 0, 0);
    list-style:none;
}



#rodape ul li { 
    padding: 2px 10px;
    display: inline-block;
    background: color #ffd903;
    color: rgb(145, 255, 0);
    text-decoration: none;
    border-bottom:3px solid rgb(255, 0, 179);
}