.banner {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.banner img {
    width: 1366px;
    height: 550px;
    filter: blur(0px) brightness(80%);
}

.banner figcaption {
    ruby-align: center;
    position: absolute;
    left: 500px;
    top: 145px;
    justify-content: center;
}

.banner figcaption h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8px;
}

.banner figcaption p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-left: 20px;
}

.layout_1 {
    display: flex;
    justify-content: space-around;
}

.layout_1 img {
    border-radius: 50%;
    width: 460px;
    padding: 20px;
}

.layout_1 h4 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8px;
    margin-top: 25px;
}

.layout_1 p {
    color: rgba(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 0px;
    text-align: justify;
}

.layout_2 {
    display: block;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: rgb(101, 206, 196);
    align-content: center;
}

.layout_2 figure {
    text-align: center;
    padding-top: 25px;
}

.layout_2 h4 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: oblique;
}

.button {
    text-align: center;
     margin-top: 70px;

}

.button a {
    border: solid;
    border-color: rgb(23, 40, 169);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
    border-width: 1px;
}

#layout_2_p {
    justify-content: center;
    margin: 40px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: justify;
}

.layout_3 {
    display: block;
    height: 580px;
    background-color:#81ecec;
    align-content: center;
}

.layout_3 h4 {
    text-align: center;
    padding-top: 60px;
    color: initial;
    font-family: inherit;
    font-size: 20px;
}

.layout_3 p {
    color: inherit;
}

.layout_3 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.layout_3 ul li {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.layout_3 ul li figure {
    align-items: center;
    text-align: center;
    padding: 0px;
}

.layout_3 ul li h5 {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.layout_3 ul li p {
    width: 85%;
    text-align: justify;
    font-family: 10px;
    font-family: inherit
}

.rodape {
    display: flex;
    text-align: center;
    height: 300px;
    background: lightslategray;
}

.rodape ul{
    list-style: none;
    align-content:space-around;
    
}

.icon {
    display: flex; 
    align-content: space-between;
    padding: 2px;

}

.icon img {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding-right: 5px;
}

.rodape ul li p {
    margin: 0px;
    margin-top: 5px;
}


#rodape_apoio_logo-estacao-hack {
   height: 100px;
   width: 240px;
}

#rodape_apoio_logo-mastertach {
    height: 40px;
    width: 280px; 
}

.separador {
    height: 10px;
}
.separador p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
}
.separador hr {
    height: 90%;
    padding: 20px;
}