#batman{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#333;
    list-style:none;
}

.horizontal{
    display: flex;
    justify-content: space-around;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background: color #333;
    color: #EDEDED;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #EDEDED;
    color: #333;
    border-bottom: 3px solid #0000ff;
}