#grande{
    background-color: blue;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
}

.interna{
    font-size: 40pt;
    color: white;
    background-color: purple;
    border: 2px solid red;
}